.form{
    width: 800px;
    margin:100px auto;
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 10px;
    padding: 50px;
}

.item{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    border: 1px solid #ccc;
    padding:0px 20px;
    margin-top: 5px;

    h2{
        margin: 5px;
    }

    button{
        border: none;
        background-color: transparent;
        color: black;
        width: auto;
        font-size: 25px;
        cursor: pointer;
    }
}